<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Lista de Alquileres</title>
   </head>
   <body>
      <h2>Listado de Alquileres</h2>

      <table border="1">
         <thead>
            <tr>
               <th>ID</th>
               <th>Cliente</th>
               <th>Fecha</th>
               <th>Total</th>
               <th>Estado</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="a : ${alquileres}">
               <td th:text="${a.id}"></td>
               <td th:text="${a.cliente.nombre}"></td>
               <td th:text="${a.fecha}"></td>
               <td th:text="${a.total}"></td>
               <td th:text="${a.estado}"></td>
            </tr>
         </tbody>
      </table>

      <br />
      <a th:href="@{/alquileres/nuevo}">Registrar nuevo alquiler</a>
   </body>
</html>
